body {
    background-color: #301A4B;
    text-align: center;
    color: #FFEAEC;
}

button {
    background-color: #6DB1BF;
    color: #FFEAEC;
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin-top: 2%;
}

.logo {
    max-height: 100px;
}

.header {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign_in_container {
    max-height: 100px;
}

.landing_page {
    margin-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.product_container {
    margin-top: 3%;
}

.product_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}